.Follower {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;

  .user-info {
    display: flex;
    align-items: center;
    margin: 5px;
    gap: 8px;
    cursor: pointer;
  }

  // h5 {
  //   color: var(--accent-color);
  // }

  .follow-link {
    margin: 0;
    margin-right: 10px;
  }
}

@media screen and (max-width: 430px) {
  .Follower {
    .btn-primary,
  .btn-secondary {
    padding: 0.5em 1.2em; /* Adjust padding for smaller buttons */
    font-size: 14px; /* Adjust font size for smaller buttons */
  }

  /* Adjust the ::before and ::after sizes for smaller buttons */
  .btn-primary::before,
  .btn-primary::after,
  .btn-secondary::before,
  .btn-secondary::after {
    width: 16px;
    height: 16px;
    display: none;
    color: black;
  }

  .btn-secondary:hover {
    color: #000000
  }

  .btn-secondary:active {
    color: black; /* Change the text color when button is tapped */
  }
    
  }
}
