.Feed {
   margin-top: 60px;

   .container {
      display: flex;
      gap: 40px;
      overflow: hidden;
      height: 100vh;
   }

   .left-part {
      flex: 2;
      overflow-y: auto;
      height: 100vh;
   }

   .right-part {
      flex: 1;
      margin-top: 18px;
      overflow-y: auto;

      .following {
         border: 1px solid var(--border-color);
         border-radius: 10px;
         background-color: #fefbe9;
      }
   }

   .suggestions {
      margin-top: 30px;
      border: 1px solid var(--border-color);
      background-color: #fefbe9;
      color: black;
      border-radius: 10px;
      overflow-y: auto;
   }

   .title {
      margin-bottom: 14px;
      margin-left: 10px;
      color: black;
   }
}

/* Media Queries for different screen sizes */

/* For tablets */
@media screen and (max-width: 770px) {
   .Feed {
      .container {
         padding-inline: 20px;
      }
   }
}

@media screen and (max-width: 430px) {
   .Feed {
      .container {
         flex-direction: column;
         gap: 5px;

         .right-part {
            height: 400px;
            overflow-y: auto;
         }
      }
   }
}
