.CreatePost {
  display: flex;
  border: 1px solid var(--border-color);
  background-color: white;
  padding: 20px;
  gap: 20px;
  border-radius: 4px;
  margin-top: 20px;

  .left-part-1 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: content;
  }

  .right-part-1 {
    flex-grow: 1;
    margin-top: 0;

    input {
      width: 100%;
      padding: 8px 16px;
      border: 1px solid grey;
      border-radius: 4px;
    }

    .img-container {
      margin-top: 20px;

      .post-img {
        width: 100%;
        aspect-ratio: 16/9;
      }
    }

    .label-img {
      display: inline-block;
      background-color: #dff2df;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      cursor: pointer;
      color: rgb(0, 0, 0);

      .label-Img:hover {
        color: #000000;
        background-color: #dff2df;
        box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
        transform: translateY(-2px);
      }
    }

    .label-Img:active {
      filter: brightness(0.9);
    }

    .inputImg {
      display: none;
    }

    .bottom-part {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px;
    }
  }
}

@media screen and (max-width: 430px) {
  .CreatePost {
    .btn-primary,
    .btn-secondary {
      padding: 0.5em 1em; /* Adjust padding for mobile */
      font-size: 14px; /* Adjust font size for mobile */
    }

    /* Adjust or remove pseudo-element sizes if necessary */
    .btn-primary::before,
    .btn-primary::after,
    .btn-secondary::before,
    .btn-secondary::after {
      width: 10px;
      height: 10px;
      display: none;
    }
    .btn-secondary:active {
      color: black; /* Change the text color when button is tapped */
    }
  }
}
