.Post {
  border: 1px solid var(--border-color);
  margin-top: 20px;
  border-radius: 4px;
  background-color: #fefbe9;

  .heading {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 16px;
    height: 60px;
    padding: 20px;
  }

  .content {
    height: 400px;
  img {
    width: 100%;
    height: 100%;
  }

}

  .footer {
    padding: 20px;

    .activity {
      display: flex;
      justify-content: space-between;

      .like {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        color: rgb(13, 12, 12);
      }


      .icon {
        font-size: 1.5rem;
        position: relative;
        color: rgb(15, 14, 14); /* Required for pseudo-elements to work */
      }
    }

    .caption {
      margin-top: 15px;
      color: rgb(15, 15, 15);
    }

    .time-ago {
      font-size: 0.8rem;
      margin-top: 15px;
      color: #080808;
    }
  }

}


@media screen and (max-width: 430px) {
  .Post{
    height: 400px;

    .content {
      height: 250px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .footer{
      padding-block: 5px;

      .caption{
        margin-top: 3px;
      }

      .time-ago{
        margin-top: 3px;
      }
    }
  }
}
